<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>ROOF &amp; SHINGLE</string>
		<key>Questions</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Shingle Material</string>
				<key>Key</key>
				<string>sa_shingleMaterial</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Asphalt Shingles</string>
					<string>Metal Standing Seam</string>
					<string>Metal Shake</string>
					<string>Wood Shake</string>
					<string>Clay Tyle</string>
					<string>Other</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Missing Shingles</string>
				<key>Key</key>
				<string>sa_missingShingles</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Missing Ridge Cap</string>
				<key>Key</key>
				<string>sa_missingRidgeCap</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Curved Plywood</string>
				<key>Key</key>
				<string>sa_curvedPlywood</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Overall Roof Condition</string>
				<key>Key</key>
				<string>sa_overallRoofCondition</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Suitable</string>
					<string>Requires Repair</string>
					<string>Replacement Suggested</string>
					<string>Replacement Required</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Full 3D Site Imaging</string>
				<key>Key</key>
				<string>sa_full3DSiteImaging</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Shingle Photo-Close Up</string>
				<key>Key</key>
				<string>sa_shinglePhotoCloseUp</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Shingle Photo-Top View</string>
				<key>Key</key>
				<string>sa_shinglePhotoTopView</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Shingle Photo-Back View</string>
				<key>Key</key>
				<string>sa_shinglePhotoBackView</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>ELECTRIAL METER</string>
		<key>Questions</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Meter Location</string>
				<key>Key</key>
				<string>sa_meterLocation</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Outdoor</string>
					<string>Indoor</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Connection Type</string>
				<key>Key</key>
				<string>sa_connectionType</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Underground</string>
					<string>Overhead</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Exterior Wall Material</string>
				<key>Key</key>
				<string>sa_exteriorWallMaterial</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Clay Brick</string>
					<string>Vinyl Siding</string>
					<string>Decorative Stone</string>
					<string>Wood</string>
					<string>Concrete</string>
					<string>Other</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Meter Height</string>
				<key>Key</key>
				<string>sa_meterHeight</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Standard</string>
					<string>High</string>
					<string>Low</string>
					<string>Other</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Gas Meter Location</string>
				<key>Key</key>
				<string>sa_gasMeterLocation</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>&gt;= 1M</string>
					<string>&lt; 1M</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Meter Obstruction</string>
				<key>Key</key>
				<string>sa_meterObstruction</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string>Yes</string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Obstruction Type (Multi selection)</string>
				<key>Key</key>
				<string>sa_obstructionType1</string>
				<key>Type</key>
				<string>Multiple Selection</string>
				<key>Options</key>
				<array>
					<string>A/C Unit</string>
					<string>Yard Gate/Door</string>
					<string>Stair Case</string>
					<string>Porch/Patio</string>
					<string>Plants/Trees</string>
					<string>Other</string>
				</array>
				<key>Default</key>
				<string>No</string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>No</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict>
					<key>sa_meterObstruction</key>
					<string>Yes</string>
				</dict>
			</dict>
			<dict>
				<key>Name</key>
				<string>Obstruction Distance</string>
				<key>Key</key>
				<string>sa_obstructionDistance</string>
				<key>Type</key>
				<string>Inputs</string>
				<key>Options</key>
				<array>
					<string>M</string>
				</array>
				<key>Default</key>
				<string>No</string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>No</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict>
					<key>sa_meterObstruction</key>
					<string>Yes</string>
				</dict>
			</dict>
			<dict>
				<key>Name</key>
				<string>Trenching Required</string>
				<key>Key</key>
				<string>sa_trenchingRequired</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string>Yes</string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Trenching Over Driveway</string>
				<key>Key</key>
				<string>sa_trenchingOverDriveway</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>No</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict>
					<key>sa_trenchingRequired</key>
					<string>Yes</string>
				</dict>
			</dict>
			<dict>
				<key>Name</key>
				<string>Trenching Material</string>
				<key>Key</key>
				<string>sa_trenchingMaterial</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Grass</string>
					<string>Soil</string>
					<string>Asphalt</string>
					<string>Gravel</string>
					<string>Concrete/Stone</string>
					<string>Other</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>No</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict>
					<key>sa_trenchingRequired</key>
					<string>Yes</string>
				</dict>
			</dict>
			<dict>
				<key>Name</key>
				<string>Trenching Obstructions</string>
				<key>Key</key>
				<string>sa_trenchingObstructions</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>No</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string>Yes</string>
				<key>Dependent</key>
				<dict>
					<key>sa_trenchingRequired</key>
					<string>Yes</string>
				</dict>
			</dict>
			<dict>
				<key>Name</key>
				<string>Trenching Obstruction Type (Multi selection)</string>
				<key>Key</key>
				<string>sa_trenchingObstructionType</string>
				<key>Type</key>
				<string>Multiple Selection</string>
				<key>Options</key>
				<array>
					<string>Rocks</string>
					<string>Stone Pathway</string>
					<string>Plants/Trees</string>
					<string>Other</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>No</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict>
					<key>sa_trenchingObstructions</key>
					<string>Yes</string>
				</dict>
			</dict>
			<dict>
				<key>Name</key>
				<string>Trenching Distance</string>
				<key>Key</key>
				<string>sa_trenchingDistance</string>
				<key>Type</key>
				<string>Inputs</string>
				<key>Options</key>
				<array>
					<string>M</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>No</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict>
					<key>sa_trenchingRequired</key>
					<string>Yes</string>
				</dict>
			</dict>
			<dict>
				<key>Name</key>
				<string>Meter Photo-Close Up</string>
				<key>Key</key>
				<string>sa_meterPhotoCloseUp</string>
				<key>Type</key>
				<string>Image</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Meter Photo-Wide Angle</string>
				<key>Key</key>
				<string>sa_meterPhotoWideAngle</string>
				<key>Type</key>
				<string>Image</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Meter Height Measurement Photo</string>
				<key>Key</key>
				<string>sa_meterHeightMeasurementPhoto</string>
				<key>Type</key>
				<string>Image</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Meter Surrounding Area Photo</string>
				<key>Key</key>
				<string>sa_meterSurroundingAreaPhoto</string>
				<key>Type</key>
				<string>Image</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Meter Obstruction Photo</string>
				<key>Key</key>
				<string>sa_meterObstructionPhoto</string>
				<key>Type</key>
				<string>Image</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>No</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict>
					<key>sa_meterObstruction</key>
					<string>Yes</string>
				</dict>
			</dict>
			<dict>
				<key>Name</key>
				<string>Teck Cable Route Reference Photo</string>
				<key>Key</key>
				<string>sa_teckCableRouteReferencePhoto</string>
				<key>Type</key>
				<string>Image</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Trenching Route Aerial Photo</string>
				<key>Key</key>
				<string>sa_trenchingRouteAerialPhoto</string>
				<key>Type</key>
				<string>Image</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>No</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict>
					<key>sa_trenchingRequired</key>
					<string>Yes</string>
				</dict>
			</dict>
			<dict>
				<key>Name</key>
				<string>Trenching Route Ground Photo</string>
				<key>Key</key>
				<string>sa_trenchingRouteGroundPhoto</string>
				<key>Type</key>
				<string>Image</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>No</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict>
					<key>sa_trenchingRequired</key>
					<string>Yes</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>MAIN BREAKER PANEL</string>
		<key>Questions</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Breaker Panel Amp(AMP)</string>
				<key>Key</key>
				<string>sa_breakerPanelAmp</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>60</string>
					<string>100</string>
					<string>125</string>
					<string>200</string>
					<string>400</string>
					<string>Other</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Breaker Panel Location</string>
				<key>Key</key>
				<string>sa_breakerPanelLocation</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Basement</string>
					<string>Garage</string>
					<string>Closet</string>
					<string>Other</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Available Breaker Slot</string>
				<key>Key</key>
				<string>sa_availableBreakerSlot</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Breaker Panel Obstruction</string>
				<key>Key</key>
				<string>sa_breakerPanelObstruction</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string>Yes</string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Obstruction Type (Multi selection)</string>
				<key>Key</key>
				<string>sa_obstructionType</string>
				<key>Type</key>
				<string>Multiple Selection</string>
				<key>Options</key>
				<array>
					<string>Washer/Dryer</string>
					<string>Work Table</string>
					<string>Racking</string>
					<string>Other</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>No</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict>
					<key>sa_breakerPanelObstruction</key>
					<string>Yes</string>
				</dict>
			</dict>
			<dict>
				<key>Name</key>
				<string>Main Breaker Panel Diagram</string>
				<key>Key</key>
				<string>sa_mainBreakerPanelDiagram</string>
				<key>Type</key>
				<string>Inputs</string>
				<key>Options</key>
				<array>
					<string>U</string>
					<string>R</string>
					<string>D</string>
					<string>L</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string>Main_Breaker_Panel_Diagram</string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Main Breaker Panel Photo-Close Up</string>
				<key>Key</key>
				<string>sa_mainBreakerPanelPhotoCloseUp</string>
				<key>Type</key>
				<string>Image</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Main Breaker Panel Photo-Wide Angle</string>
				<key>Key</key>
				<string>sa_mainBreakerPanelPhotoWideAngle</string>
				<key>Type</key>
				<string>Image</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Main Breaker Panel Photo-Interior</string>
				<key>Key</key>
				<string>sa_mainBreakerPanelPhotoInterior</string>
				<key>Type</key>
				<string>Image</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Main Breaker Panel Photo-360 Degree</string>
				<key>Key</key>
				<string>sa_mainBreakerPanelPhoto360Degree</string>
				<key>Type</key>
				<string>Image</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>LAYOUT DIAGRAM</string>
		<key>Questions</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Location-Electrical Meter</string>
				<key>Key</key>
				<string>sa_locationElectricalMeter</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Location-Gas Meter</string>
				<key>Key</key>
				<string>sa_locationGasMeter</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Location-Obstruction</string>
				<key>Key</key>
				<string>sa_locationObstruction</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Location-Main Breaker Panel</string>
				<key>Key</key>
				<string>sa_locationMainBreakerPanel</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Distance-Electrical Meter to Front Corner of House</string>
				<key>Key</key>
				<string>sa_distanceElectricalMeterToFrontCornerOfHouse</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Distance-Electrical Meter to Gas Meter</string>
				<key>Key</key>
				<string>sa_distanceElectricalMeterToGasMeter</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Distance-Electrical Meter to Yard Door</string>
				<key>Key</key>
				<string>sa_distanceElectricalMeterToYardDoor</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Distance-Electrical Meter to Obstruction</string>
				<key>Key</key>
				<string>sa_distanceElectricalMeterToObstruction</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>TRUSS &amp; RAFTER</string>
		<key>Questions</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Roof Sheathing</string>
				<key>Key</key>
				<string>sa_roofSheathing</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Plywood</string>
					<string>Steel Plate</string>
					<string>Strip Sheathing</string>
					<string>Other</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Signs of Mold</string>
				<key>Key</key>
				<string>sa_signsOfMold</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Signs of Water Leakage</string>
				<key>Key</key>
				<string>sa_signsOfWaterLeakage</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string>Yes</string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Water Leakage Type</string>
				<key>Key</key>
				<string>sa_waterLeakageType</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Ongoing</string>
					<string>Existing</string>
					<string>Other</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>No</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict>
					<key>sa_signsOfWaterLeakage</key>
					<string>Yes</string>
				</dict>
			</dict>
			<dict>
				<key>Name</key>
				<string>Signs of Damage</string>
				<key>Key</key>
				<string>sa_signsOfDamage</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string>Yes</string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Type of Damage</string>
				<key>Key</key>
				<string>sa_typeOfDamage</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>Cracked Truss/Rafter</string>
					<string>Broken Truss/Rafter</string>
					<string>Damaged Sheathing</string>
					<string>Other</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>No</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict>
					<key>sa_signsOfDamage</key>
					<string>Yes</string>
				</dict>
			</dict>
			<dict>
				<key>Name</key>
				<string>Truss Spacing(&quot; O/C)</string>
				<key>Key</key>
				<string>sa_trussSpacing</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>16</string>
					<string>24</string>
					<string>48</string>
					<string>Other</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Truss Member Size</string>
				<key>Key</key>
				<string>sa_trussMemberSize</string>
				<key>Type</key>
				<string>Selections With Image Other</string>
				<key>Options</key>
				<array>
					<string>2x4</string>
					<string>2x6</string>
					<string>2x8</string>
					<string>Other</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Truss Type</string>
				<key>Key</key>
				<string>sa_trussType</string>
				<key>Type</key>
				<string>Truss Type</string>
				<key>Options</key>
				<array>
					<string>A - J, or Others</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string>Truss_Type</string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Internal Structure Photos</string>
				<key>Key</key>
				<string>sa_internalStructurePhotos</string>
				<key>Type</key>
				<string>Image</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Truss Member Size Photos</string>
				<key>Key</key>
				<string>sa_trussMemberSizePhotos</string>
				<key>Type</key>
				<string>Image</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
			<dict>
				<key>Name</key>
				<string>Truss Spacing Photos</string>
				<key>Key</key>
				<string>sa_trussSpacingPhotos</string>
				<key>Type</key>
				<string>Image</string>
				<key>Options</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Default</key>
				<string></string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>Yes</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>EXTRA NOTES</string>
		<key>Questions</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Notes</string>
				<key>Key</key>
				<string>sa_notes</string>
				<key>Type</key>
				<string>Notes</string>
				<key>Options</key>
				<array/>
				<key>Default</key>
				<string>Notes: </string>
				<key>Image</key>
				<string></string>
				<key>Mandatory</key>
				<string>No</string>
				<key>Value</key>
				<string></string>
				<key>Interdependence</key>
				<string></string>
				<key>Dependent</key>
				<dict/>
			</dict>
		</array>
	</dict>
</array>
</plist>
